# Backend specific
/backend/bin/
/backend/lib/python3.9/
/backend/lib64
/backend/include/
/backend/share/
/backend/pyvenv.cfg
/backend/.env

# Frontend specific
/frontend/node_modules/
/frontend/.tmp/

# Static factory
/frontend/src/pug_modules/
/frontend/docs/vendors/
/frontend/docs/index.html
/frontend/docs/pug-modules/

/docker/*.env
